#nous-contacter
    .automarge
        h1 Nous contacter
        .emails
            .email
                a(href="mailto:commercial@polychromatic.fr")
                    h3 Commerciales
                    span commercial@polychromatic.fr
            .email
                a(href="#")
                    h3 Comptabilite
                    span comptabilite@polychromatic.fr
            .email
                a(href="#")
                    h3 Direction
                    span direction.generale@polychromatic.fr
        .form_map
            #formulaire 
                h2 Formulaire
                form(id="formulaire_contact",name="form_contact",ng-controller="ContactController as contact",ng-submit="contact.submit()",novalidate)
                    .field
                        label(for="auteur_email") Votre email : 
                        input(
                            type="email",
                            id="auteur_email",
                            name="auteur_email", 
                            ng-model="formData.email",
                            placeholder="Taper ici",
                            autocomplete="off",
                            spellcheck="false",
                            autocorrect="off",
                            autocapitalize="off",
                            ng-model-options="{ allowInvalid: true }",
                            required
                        )
                    .field
                        label(for="auteur_nom") Votre nom : 
                        input(
                            type="text",
                            id="auteur_nom",
                            name="auteur_nom", 
                            ng-model="formData.nom",
                            ng-minlength="2",
                            ng-maxlength="30",
                            placeholder="Taper ici",
                            autocomplete="off",
                            spellcheck="false",
                            autocorrect="off",
                            autocapitalize="off",
                            required
                        )
                    .field
                        label(for="auteur_telephone") Votre numéro de téléphone : 
                        input(
                            type="tel",
                            id="auteur_telephone",
                            name="auteur_telephone", 
                            ng-model="formData.telephone",
                            placeholder="Taper ici",
                            autocomplete="off",
                            spellcheck="false",
                            autocorrect="off",
                            autocapitalize="off",
                            ng-pattern=/^0[1-9]([-. ]?[0-9]{2}){4}$/,
                            required
                        )
                    .field
                        label(for="contact_titre") Titre de votre message :
                        input(
                            type="text",
                            id="contact_titre",
                            name="titre", 
                            ng-model="formData.titre",
                            ng-minlength="2",
                            ng-maxlength="140",
                            placeholder="Taper ici",
                            autocomplete="off",
                            spellcheck="false",
                            autocorrect="off",
                            autocapitalize="off",
                            required
                        )
                    .field_text
                        label(for="contact_description") Votre message :
                        textarea(
                            id="contact_description",
                            name="description",
                            ng-model="formData.message",
                            ng-maxlength="3000",
                            required
                        )
                    input(ng-disabled="form_contact.$invalid",ng-class="{'disabled': form_contact.$invalid}",type="submit",value="Envoyer")
            #map
                h2 Nous situer
                iframe(
                    width="100%",
                    height="100%",
                    frameborder="0",
                    src="https://www.google.com/maps/d/embed?mid=z8BPbHvUlggA.kqSZ2ULQogQQ",
                    allowfullscreen
                )
                h2 Nos établissements
                #etablissements
                    .etablissement
                        h3 Vitry-sur-seine
                        span Adresse
                    .etablissement
                        h3 Niort
                        span Adresse
                    .etablissement
                        h3 Le Mans
                        span Adresse
