body {
  background: #263238;
}
@media screen and (max-width: 1000px) {
  .viewport {
    flex-direction: column;
  }
  .centered {
    width: 80vw;
  }
}
@media screen and (min-width: 1000px) {
  .centered {
    height: 70vh;
  }
}
.viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.centered {
  margin: auto;
  display: flex;
  height: inherit;
  position: relative;
}
@media screen and (max-width: 1000px) {
  nav {
    height: 70px;
    min-height: 70px;
    background: rgba(10,10,10,0.3);
    margin-bottom: 10px;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(150,150,150,0.3);
    min-width: 400px;
  }
  nav .centered {
    height: 50px;
    min-width: 500px !important;
    position: relative;
  }
  nav .logo {
    width: 51px;
    height: 51px;
    margin-right: 10px;
    cursor: pointer;
  }
  nav .logo img {
    width: inherit;
    height: inherit;
  }
  nav ul {
    height: 50px;
    flex-grow: 1;
  }
  nav ul li {
    justify-content: center;
  }
  nav ul li i {
    margin-right: 0px;
  }
  nav ul li p {
    display: none;
  }
  nav .language {
    border: 1px solid #37474f;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  nav .language .one {
    display: none;
  }
  nav .language .two {
    align-content: flex-end;
    margin-left: auto;
  }
  nav .language #menu_language {
    position: absolute;
    right: 0;
    top: 29px;
    z-index: 4;
    display: none;
  }
  nav .language:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(20,20,20,0.4) inset;
  }
  nav .language:hover #menu_language {
    display: flex;
  }
  nav .language:hover #menu_language .menu {
    display: flex;
    flex-direction: column;
    min-width: 120px;
    background: rgba(10,10,10,0.9);
    box-shadow: 0px 0px 5px #37474f;
    margin-top: 22px;
  }
  nav .language:hover #menu_language .menu div {
    height: 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }
  nav .language:hover #menu_language .menu div:hover {
    background: #ffee58;
    color: #000;
  }
  nav ul li + li {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1000px) {
  nav {
    width: 160px;
    min-width: 160px;
    background: rgba(10,10,10,0.15);
    box-shadow: 0px 0px 5px #37474f;
  }
  nav .centered {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  nav .logo img {
    width: inherit;
    height: inherit;
  }
  nav ul {
    flex-direction: column;
    height: inherit;
    position: relative;
  }
  nav ul li {
    min-height: 30px;
    position: relative;
  }
  nav ul li i {
    display: none !important;
  }
  nav .language {
    border: 1px solid #37474f;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  nav .language .two {
    display: none;
  }
  nav .language #menu_language {
    width: 200px;
    position: absolute;
    left: 139px;
    bottom: -2px;
    z-index: 4;
    display: none;
  }
  nav .language:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(20,20,20,0.4) inset;
  }
  nav .language:hover #menu_language {
    display: flex;
  }
  nav .language:hover #menu_language .menu {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    min-width: 120px;
    background: rgba(10,10,10,0.9);
    box-shadow: 0px 0px 5px #37474f;
  }
  nav .language:hover #menu_language .menu div {
    height: 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }
  nav .language:hover #menu_language .menu div:hover {
    background: #ffee58;
    color: #000;
  }
  nav .language p {
    align-content: flex-end;
    margin-left: auto;
  }
  nav .language i {
    align-content: flex-end;
    margin-left: 20px;
  }
  nav ul li + li {
    margin-top: 10px;
  }
}
nav {
  display: flex;
  position: relative;
  z-index: 10;
  -webkit-user-select: none;
  user-select: none;
}
nav ul {
  display: flex;
  position: inherit;
}
nav ul li {
  color: #ec407a;
  display: flex;
  align-items: center;
  position: inherit;
  padding: 0 10px;
}
nav ul li.active {
  color: #000;
}
nav ul li::after {
  width: 100%;
  content: " ";
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: height 0.15s linear, color 0.2s linear;
  z-index: -1;
}
nav ul li.active::after {
  height: 100%;
  background: #ffee58;
}
nav ul li:not(.active)::after {
  height: 2px;
  background: #ec407a;
}
nav ul li:not(.active):hover::after {
  height: 100%;
}
nav ul li:not(.active):hover {
  color: #fff;
  cursor: pointer;
}
container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #333;
  z-index: 9;
  margin: 10px;
}
container .innerContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
container .innerContainer .automarge {
  margin: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-basis: 200px;
  overflow: auto;
  padding-right: 10px;
  color: #fff;
}
@media screen and (min-width: 1000px) {
  container .innerContainer .automarge {
    width: 80vw;
  }
}
@media screen and (max-width: 1000px) {
  container .innerContainer .automarge {
    width: 90vw;
  }
}
@media screen and (min-width: 1000px) and (min-height: 800px) {
  container .innerContainer .automarge {
    justify-content: center;
  }
}
container .innerContainer .automarge hr {
  width: 100%;
  height: 2px;
  border: none;
  background: #37474f;
}
container .innerContainer #accueil {
  color: #fff;
}
container .innerContainer #accueil .automarge {
  flex-direction: row;
  flex-wrap: wrap;
}
container .innerContainer #accueil .automarge .polychromatic,
container .innerContainer #accueil .automarge .tuiles {
  flex: 1 0 270px;
  display: flex;
}
container .innerContainer #accueil .automarge .polychromatic h1,
container .innerContainer #accueil .automarge .tuiles h1 {
  text-align: left;
  margin-bottom: 12px;
  margin-top: 10px;
  color: #e91e63;
  font-size: 22px;
  text-shadow: 0px 0px 2px #212121;
  user-select: none;
  flex-shrink: 0;
}
container .innerContainer #accueil .automarge .polychromatic {
  padding: 20px;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1000px) and (min-height: 800px) {
  container .innerContainer #accueil .automarge .polychromatic {
    justify-content: center;
  }
}
container .innerContainer #accueil .automarge .polychromatic .logo {
  min-width: 250px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
container .innerContainer #accueil .automarge .polychromatic .logo img {
  width: inherit;
  height: inherit;
}
container .innerContainer #accueil .automarge .polychromatic h1 {
  color: #ffee58;
  font-size: 34px;
  width: 100%;
}
container .innerContainer #accueil .automarge .polychromatic p {
  width: 100%;
  margin-top: 10px;
  text-align: justify;
  display: flex;
}
container .innerContainer #accueil .automarge .tuiles {
  flex-direction: column;
  flex-grow: 2;
}
@media screen and (min-width: 1000px) and (min-height: 800px) {
  container .innerContainer #accueil .automarge .tuiles {
    justify-content: center;
  }
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
  flex-shrink: 0;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .tuile {
  flex: 1 0 160px;
  margin-left: 10px;
  margin-top: 10px;
  height: 120px;
  flex-direction: column;
  background: rgba(40,40,40,0.5);
  border: 1px solid #424242;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 10px #000;
  position: relative;
  cursor: pointer;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .tuile.web {
  border-color: #d4e157;
  color: #d4e157;
  box-shadow: 0px 0px 10px rgba(212,225,87,0.4) inset;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .tuile::after {
  content: "";
  height: 0px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: height 0.2s ease-in-out, background 0.2s ease-in-out;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .tuile.web:hover::after {
  background: #d4e157;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  color: #333;
  content: "Développement de site vitrine et site dynamique!";
  padding: 10px;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .tuile.supervision {
  border-color: #4fc3f7;
  color: #4fc3f7;
  box-shadow: 0px 0px 10px rgba(79,195,247,0.4) inset;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .tuile.supervision:hover::after {
  background: #4fc3f7;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  color: #333;
  content: "Supervision et Hypervision de parc informatique avec CA nimsoft ou autres!";
  padding: 10px;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .tuile.ERP {
  border-color: #ffb74d;
  color: #ffb74d;
  box-shadow: 0px 0px 10px rgba(255,183,77,0.4) inset;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .tuile.ERP:hover::after {
  background: #ffb74d;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  color: #333;
  content: "Gestion ERP et CRM pour votre entreprise!";
  padding: 10px;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .tuile i {
  font-size: 35px;
  font-size: calc(100% + 2.4vw);
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .tuile p {
  margin-top: 5px;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .news {
  flex: 1 0 240px;
  margin-left: 10px;
  margin-top: 10px;
  min-height: 120px;
  background: rgba(40,40,40,0.6);
  border: 1px solid rgba(20,20,20,0.8);
  padding: 10px;
  transition: background 0.2s linear;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .news:hover {
  background: rgba(40,40,40,0.9);
  cursor: pointer;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .news .titre {
  display: flex;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .news .titre strong {
  color: #fff176;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 180px;
  text-align: justify;
  align-items: center;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .news .titre span {
  background: #f50057;
  color: #fff;
  margin-left: 10px;
  width: 60px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  flex-shrink: 0;
}
container .innerContainer #accueil .automarge .tuiles .tuiles_container .news .intro {
  margin-top: 10px;
  flex-grow: 1;
  font-size: 14px;
  color: #cfd8dc;
}
container .innerContainer #accueil,
container .innerContainer #notre-equipe {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  flex-basis: 400px;
  margin-bottom: 30px;
}
container .innerContainer #nos-clients {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  flex-basis: 400px;
}
container .innerContainer #nos-clients h1 {
  text-align: left;
  border-bottom: 2px solid #e91e63;
  margin-bottom: 10px;
  color: #e91e63;
  font-size: 22px;
  font-size: calc(100% + 3.5vw);
  text-shadow: 0px 0px 7px #212121;
  user-select: none;
  flex-shrink: 0;
}
container .innerContainer #nos-clients h2 {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #e91e63;
  font-size: 22px;
  text-shadow: 0px 0px 7px #212121;
  user-select: none;
  flex-shrink: 0;
}
container .innerContainer #nos-clients .clients_container {
  margin-left: -10px;
  margin-top: -10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
container .innerContainer #nos-clients .clients_container .client_inner {
  margin-left: 10px;
  margin-top: 10px;
  background: #37474f;
  display: flex;
  flex-grow: 1;
  min-height: 200px;
  padding: 10px;
  flex-basis: 300px;
  flex: auto;
}
container .innerContainer #nos-clients .clients_container .client_inner .info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
container .innerContainer #nos-clients .clients_container .client_inner .info .logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  background: #ffa500;
  overflow: hidden;
}
container .innerContainer #nos-clients .clients_container .client_inner .info .logo img {
  width: inherit;
  height: inherit;
}
container .innerContainer #nos-clients .clients_container .client_inner .info h3 {
  font-size: 22px;
  color: #ffee58;
  font-size: 20px;
  text-shadow: 0px 0px 7px rgba(20,20,20,0.6);
}
container .innerContainer #nos-clients .clients_container .client_inner .info p {
  color: #fff;
  font-size: 14px;
  text-shadow: 0px 0px 7px rgba(20,20,20,0.3);
  margin: 5px 0;
}
container .innerContainer #nos-clients .clients_container .client_inner .info a {
  font-size: 14px;
  padding: 5px;
  background: #263238;
  margin-top: auto;
  align-content: flex-end;
  color: #03a9f4;
}
container .innerContainer #nos-clients .clients_container .client_inner .commerciaux {
  width: 120px;
  min-width: 120px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
container .innerContainer #nos-clients .clients_container .client_inner .commerciaux .avatar {
  width: 110px;
  height: 110px;
  margin-top: 10px;
}
container .innerContainer #nos-clients .clients_container .client_inner .commerciaux .avatar img {
  width: inherit;
  height: inherit;
}
container .innerContainer #nos-clients .clients_container + h2 {
  margin-top: 10px;
}
container .innerContainer #nos-services {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-basis: 400px;
  margin-bottom: 30px;
}
container .innerContainer #nos-services h1 {
  text-align: left;
  border-bottom: 2px solid #e91e63;
  margin-bottom: 10px;
  color: #e91e63;
  font-size: 22px;
  font-size: calc(100% + 3.5vw);
  text-shadow: 0px 0px 7px #212121;
  user-select: none;
  flex-shrink: 0;
}
container .innerContainer #nos-services #services {
  margin-left: -10px;
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
}
container .innerContainer #nos-services #services .service {
  margin-left: 10px;
  margin-top: 10px;
  min-height: 200px;
  flex: 1 0 250px;
  background: rgba(40,40,40,0.55);
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px #000;
  padding: 10px;
}
container .innerContainer #nos-services #services .service > h3 {
  color: #fff;
  margin-bottom: 10px;
}
container .innerContainer #nos-services #services .service > p {
  margin: 10px 0;
}
container .innerContainer #nos-services #services .service > .logos {
  display: flex;
  flex-wrap: wrap;
  margin-top: -5px;
  margin-left: -5px;
  justify-content: center;
  margin-bottom: 10px;
}
container .innerContainer #nos-services #services .service > .logos .logo {
  flex-basis: 80px;
  height: 80px;
  margin-left: 5px;
  margin-top: 5px;
}
container .innerContainer #nos-services #services .service > .logos .logo img {
  width: inherit;
  height: inherit;
}
container .innerContainer #nos-services #services .service > ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: -5px;
  margin-left: -5px;
  margin-bottom: 10px;
}
container .innerContainer #nos-services #services .service > ul li {
  flex: 1 0 170px;
  min-height: 30px;
  background: #37474f;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-left: 5px;
  margin-top: 5px;
}
container .innerContainer #nos-services #services .service .savoir-plus {
  height: 30px;
  background: #800080;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
  margin-top: auto;
}
container .innerContainer #nos-services #services .service .avatars {
  display: flex;
  margin-left: -10px;
  margin-top: -10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
container .innerContainer #nos-services #services .service .avatars .avatar {
  flex: 0 0 80px;
  height: 80px;
  margin-left: 10px;
  margin-top: 10px;
}
container .innerContainer #nos-services #services .service .avatars .avatar img {
  width: inherit;
  height: inherit;
}
container .innerContainer #nos-services #services .service.web {
  border-color: #d4e157;
  color: #d4e157;
  box-shadow: 0px 0px 10px rgba(212,225,87,0.4) inset;
}
container .innerContainer #nos-services #services .service.web p {
  color: #f0f4c3;
}
container .innerContainer #nos-services #services .service.web .savoir-plus {
  background: #d4e157;
}
container .innerContainer #nos-services #services .service.supervision {
  border-color: #4fc3f7;
  color: #4fc3f7;
  box-shadow: 0px 0px 10px rgba(79,195,247,0.4) inset;
}
container .innerContainer #nos-services #services .service.supervision .savoir-plus {
  background: #4fc3f7;
}
container .innerContainer #nos-services #services .service.ERP {
  border-color: #ffb74d;
  color: #ffb74d;
  box-shadow: 0px 0px 10px rgba(255,183,77,0.4) inset;
}
container .innerContainer #nos-services #services .service.ERP .savoir-plus {
  background: #ffb74d;
}
container .innerContainer #nous-contacter {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-basis: 400px;
  margin-bottom: 30px;
}
container .innerContainer #nous-contacter h1 {
  text-align: left;
  border-bottom: 2px solid #e91e63;
  margin-bottom: 10px;
  color: #e91e63;
  font-size: 22px;
  font-size: calc(100% + 3.5vw);
  text-shadow: 0px 0px 7px #212121;
  user-select: none;
  flex-shrink: 0;
}
container .innerContainer #nous-contacter h2 {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #e91e63;
  font-size: 22px;
  text-shadow: 0px 0px 7px #212121;
  user-select: none;
  flex-shrink: 0;
}
container .innerContainer #nous-contacter .form_map {
  flex-basis: 400px;
  margin-bottom: 50px;
  margin-top: 10px;
}
container .innerContainer #nous-contacter .form_map #formulaire,
container .innerContainer #nous-contacter .form_map #map {
  margin-left: 10px;
  margin-top: 10px;
  flex: 1 0 300px;
  user-select: none;
}
container .innerContainer #nous-contacter .form_map #formulaire {
  display: flex;
  flex-direction: column;
}
container .innerContainer #nous-contacter .form_map #formulaire form {
  display: flex;
  flex-direction: column;
}
container .innerContainer #nous-contacter .form_map #map {
  display: flex;
  flex-direction: column;
}
container .innerContainer #nous-contacter .form_map #map iframe {
  width: 100%;
  margin-bottom: 5px;
  box-shadow: 2px 2px 5px rgba(20,20,20,0.2);
}
@media screen and (max-width: 1000px) {
  container .innerContainer #nous-contacter .form_map #map iframe {
    min-height: 250px;
    max-height: 250px;
  }
}
@media screen and (min-width: 1000px) {
  container .innerContainer #nous-contacter .form_map #map iframe {
    min-height: 300px;
    max-height: 300px;
  }
}
container .innerContainer #nous-contacter .form_map #map #etablissements {
  margin-left: -10px;
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
}
container .innerContainer #nous-contacter .form_map #map #etablissements .etablissement {
  flex-grow: 1;
  background: #37474f;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(20,20,20,0.2);
}
container .innerContainer #nous-contacter .form_map #map #etablissements .etablissement h3 {
  font-size: 22px;
  color: #ffee58;
  font-size: 20px;
  text-shadow: 0px 0px 7px rgba(20,20,20,0.6);
}
container .innerContainer #nous-contacter .form_map #map #etablissements .etablissement span {
  color: #fff;
  font-size: 14px;
  text-shadow: 0px 0px 7px rgba(20,20,20,0.3);
}
container .innerContainer #nous-contacter .emails {
  flex-shrink: 0;
}
@media screen and (max-width: 1000px) {
  container .innerContainer #nous-contacter .emails .email {
    flex-grow: 1;
  }
}
container .innerContainer #nous-contacter .emails .email {
  background: #37474f;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 0;
  position: relative;
  transition: background 0.2s linear;
  box-shadow: 2px 2px 5px rgba(20,20,20,0.2);
}
container .innerContainer #nous-contacter .emails .email:hover {
  cursor: pointer;
  background: #455a64;
}
container .innerContainer #nous-contacter .emails .email a {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
container .innerContainer #nous-contacter .emails .email h3 {
  font-size: 22px;
  color: #ffee58;
  font-size: 20px;
  text-shadow: 0px 0px 7px rgba(20,20,20,0.6);
}
container .innerContainer #nous-contacter .emails .email span {
  color: #fff;
  font-size: 14px;
  text-shadow: 0px 0px 7px rgba(20,20,20,0.3);
}
container .innerContainer #nous-contacter .emails,
container .innerContainer #nous-contacter .fiches,
container .innerContainer #nous-contacter .form_map {
  margin-left: -10px;
  margin-top: -10px;
  flex-wrap: wrap;
  display: flex;
}
container .innerContainer #nous-contacter .emails .fiche.reverse,
container .innerContainer #nous-contacter .fiches .fiche.reverse,
container .innerContainer #nous-contacter .form_map .fiche.reverse {
  flex-direction: row-reverse;
}
container .innerContainer #nous-contacter .emails .fiche.reverse .photo,
container .innerContainer #nous-contacter .fiches .fiche.reverse .photo,
container .innerContainer #nous-contacter .form_map .fiche.reverse .photo {
  border-left: 1px solid #ccc;
  border-right: 0px;
}
container .innerContainer #nous-contacter .emails .fiche.reverse .description,
container .innerContainer #nous-contacter .fiches .fiche.reverse .description,
container .innerContainer #nous-contacter .form_map .fiche.reverse .description {
  direction: rtl;
}
container .innerContainer #nous-contacter .emails .fiche.reverse .description ul,
container .innerContainer #nous-contacter .fiches .fiche.reverse .description ul,
container .innerContainer #nous-contacter .form_map .fiche.reverse .description ul {
  margin-right: 40px;
  margin-left: 0;
}
